<section id="home" class="text-center">
  <div>
    <h2>Welcome to My Portfolio</h2>
    <p>Hi, I'm Min Prasad Timalsina, a passionate web developer with a keen interest in modern technologies and design.</p>
    <p>Explore my projects and learn more about me!</p>
    <img src="/images/photo.jpg" alt="Min Prasad Timalsina" class="img-fluid rounded-circle" style="width: 200px; height: 200px;">
  </div>
</section>
