<section id="projects">
  <h2>Projects</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="/images/project1.png" class="card-img-top" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Smart Home System</h5>
          <p class="card-text">In this Project i made smart home system. Where using your voice you can control lights, musics and locks of your room.</p>
          <a href="#" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="images\project2.png" class="card-img-top" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">Diet Planner</h5>
          <p class="card-text">In this websites i used SQL to calculate the users calories and protien. And calculated how much the user consume for the proper workout</p>
          <a href="#" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="images/project3.png" class="card-img-top" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">Gaming Store</h5>
          <p class="card-text">Built a small gaming store where user will input the games name on search bar, purchase the game, add into the cart and many more.</p>
          <a href="#" class="btn btn-primary">View Project</a>
        </div>
      </div>
    </div>
  </div>
</section>
